<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>

        <!-- HEADER -->
        <%- include('../partials/header') %>

            <!-- HEROE -->
            <main class="main">
                <div class="presentation-container">
                    <div class="main-pic">



                        <img src="/images/db_images/<%= user.img %>" alt=""
                            onerror="this.onerror=null; this.src='/images/db_images/user.png';">





                    </div>
                    <div class="presentation">
                        <div class="info">

                            <h1 class="title">
                                Nombre: <%= user.name %>
                            </h1>
                            <h1 class="title">
                                Apellido: <%= user.lastName %>
                            </h1>
                            <h1 class="title">
                                Email: <%= user.email %>
                            </h1>
                        </div>
                        <div class="buttons">
                            
                            <form action="/editUser/<%= user.id %>" method="GET">

                                <button class="cart-button">Editar</button>

                            </form>



                            <% if (user.role==='user' ) { %>
                                <form action="/deleteUser/<%= user.id %>" method="POST">


                                    <button class="cart-button">Eliminar cuenta</button>
                                </form>

                                <% } else { %>
                                    <form action="/admin" method="GET">


                                        <button class="cart-button"
                                            style="background-color: rgb(23, 190, 202);">Administrador</button>
                                    </form>
                                    <% } %>



                                        <form action="/" method="GET">

                                            <button type="submit" class="cart-button">Home</button>
                                        </form>
                                        <form action="/logout" method="GET">

                                            <button type="submit" class="cart-button">Cerrar Sesion</button>
                                        </form>
                        </div>

                    </div>
                </div>

            </main>

            <!-- FOOTER -->
            <%- include('../partials/footer') %>

    </body>

</html>